@font-face {
  font-family: "iconfont"; /* Project id 3657040 */
  src: url('iconfont.woff2?t=1685203592301') format('woff2'),
       url('iconfont.woff?t=1685203592301') format('woff'),
       url('iconfont.ttf?t=1685203592301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-31gouwuche:before {
  content: "\e600";
}

.icon-zhaoxiangji:before {
  content: "\e664";
}

.icon-weizhi1:before {
  content: "\e76f";
}

.icon-Search:before {
  content: "\e602";
}

.icon-bilibili:before {
  content: "\e6b4";
}

.icon-liulan:before {
  content: "\e653";
}

.icon-pinglun:before {
  content: "\e6d7";
}

.icon-bofang:before {
  content: "\e70a";
}

.icon-lianxi:before {
  content: "\e624";
}

.icon-pinglun1:before {
  content: "\e658";
}

.icon-liulan1:before {
  content: "\e67e";
}

.icon-bofang1:before {
  content: "\e642";
}

.icon-pinglun2:before {
  content: "\e66d";
}

.icon-liuyanpinglun:before {
  content: "\e615";
}

.icon-bilibili-fill:before {
  content: "\e740";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-18:before {
  content: "\e610";
}

.icon-xiazai4:before {
  content: "\e604";
}

.icon-shouye1:before {
  content: "\e62b";
}

.icon-wode:before {
  content: "\e60c";
}

.icon-wode1:before {
  content: "\e619";
}

.icon-wowode:before {
  content: "\e623";
}

.icon-kaquan:before {
  content: "\e612";
}

.icon-shijian:before {
  content: "\e663";
}

.icon-shoucang:before {
  content: "\e7bf";
}

.icon-weizhi:before {
  content: "\e681";
}

.icon-weibiaoti-3:before {
  content: "\e601";
}

.icon-huiyuan:before {
  content: "\e640";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-zhankai:before {
  content: "\e622";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-seach:before {
  content: "\e61f";
}

.icon-right:before {
  content: "\e620";
}

.icon-left:before {
  content: "\e621";
}

.icon-add:before {
  content: "\e626";
}

.icon-customer-1:before {
  content: "\e629";
}

.icon-goods:before {
  content: "\e62a";
}

.icon-seller:before {
  content: "\e62d";
}

